<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-webview-sso-fantato" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>WebViewSSO</name>
  <description>SSO WebView Plugin with close button and events</description>
  <license>MIT</license>
  <keywords>cordova, webview, sso, plugin</keywords>
  <author email="rafael@fantato.com">Rafael Fantato</author>

  <!-- Plataforma Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WebViewPlugin">
        <param name="android-package" value="com.fantato.webviewsso.WebViewPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/com/outsystems/plugins/webviewsso/WebViewPlugin.java" target-dir="src/com/fantato/webviewsso" />

    <!-- Atividade que abre o WebView -->
    <source-file src="src/android/com/outsystems/plugins/webviewsso/WebViewActivity.java" target-dir="src/com/fantato/webviewsso" />

    <!-- Adiciona permissão de internet -->
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="com.outsystems.plugins.webviewsso.WebViewActivity"
                      android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
                      android:launchMode="singleTop"
                      android:exported="true"/>
    </config-file>
  </platform>

  <!-- JS que será injetado no lado web -->
  <js-module src="www/WebViewPlugin.js" name="WebViewPlugin">
    <clobbers target="cordova.plugins.WebViewPlugin" />
  </js-module>
</plugin>